<?xml version="1.0" encoding="utf-8" ?>
<log4net>
	<appender name="RollingLogFile" type="log4net.Appender.RollingFileAppender, log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821">
		<file value="SvcUpdater.log" />
		<appendToFile value="true" />
		<maxSizeRollBackups  value="15" />
		<datePattern value="yyyyMMdd" />
		<rollingStyle value="Date" />

		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
		</layout>

	</appender>


	<root>
		<level value="ERROR" />
		<appender-ref ref="RollingLogFile" />
	</root>

	
	<logger name="SergioPereira.WindowsService.AutoUpdates">
		<level value="INFO" />
		<appender-ref ref="RollingLogFile" />
	</logger>
	
	<logger name="SvcUpdater">
		<level value="INFO" />
		<appender-ref ref="RollingLogFile" />
	</logger>
</log4net>