<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="Juicy.WindowsService" type="Juicy.WindowsService.WindowsServiceConfiguration, Juicy.WindowsService"/>	   
	</configSections>
	<Juicy.WindowsService>
		<tasks>
			<task name="MockPeriodTask"  />
			<task name="MockSchedTask"  />
			
			<task name="PeriodicalTask1" interval="400" enabled="false" />
			<task name="SchedTask1" time="23:45" enabled="false" dummy="1"/>
		</tasks>   
	</Juicy.WindowsService>
</configuration>